<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Bulbasaur</string>
	<string>Ivysaur</string>
	<string>Venusaur</string>
	<string>Charmander</string>
	<string>Charmeleon</string>
	<string>Charizard</string>
	<string>Squirtle</string>
	<string>Wartortle</string>
	<string>Blastoise</string>
	<string>Caterpie</string>
	<string>Metapod</string>
	<string>Butterfree</string>
	<string>Weedle</string>
	<string>Kakuna</string>
	<string>Beedrill</string>
	<string>Pidgey</string>
	<string>Pidgeotto</string>
	<string>Pidgeot</string>
	<string>Rattata</string>
	<string>Raticate</string>
	<string>Spearow</string>
	<string>Fearow</string>
	<string>Ekans</string>
	<string>Arbok</string>
	<string>Pikachu</string>
	<string>Raichu</string>
	<string>Sandshrew</string>
	<string>Sandslash</string>
	<string>Nidoran♀</string>
	<string>Nidorina</string>
	<string>Nidoqueen</string>
	<string>Nidoran♂</string>
	<string>Nidorino</string>
	<string>Nidoking</string>
	<string>Clefairy</string>
	<string>Clefable</string>
	<string>Vulpix</string>
	<string>Ninetales</string>
	<string>Jigglypuff</string>
	<string>Wigglytuff</string>
	<string>Zubat</string>
	<string>Golbat</string>
	<string>Oddish</string>
	<string>Gloom</string>
	<string>Vileplume</string>
	<string>Paras</string>
	<string>Parasect</string>
	<string>Venonat</string>
	<string>Venomoth</string>
	<string>Diglett</string>
	<string>Dugtrio</string>
	<string>Meowth</string>
	<string>Persian</string>
	<string>Psyduck</string>
	<string>Golduck</string>
	<string>Mankey</string>
	<string>Primeape</string>
	<string>Growlithe</string>
	<string>Arcanine</string>
	<string>Poliwag</string>
	<string>Poliwhirl</string>
	<string>Poliwrath</string>
	<string>Abra</string>
	<string>Kadabra</string>
	<string>Alakazam</string>
	<string>Machop</string>
	<string>Machoke</string>
	<string>Machamp</string>
	<string>Bellsprout</string>
	<string>Weepinbell</string>
	<string>Victreebel</string>
	<string>Tentacool</string>
	<string>Tentacruel</string>
	<string>Geodude</string>
	<string>Graveler</string>
	<string>Golem</string>
	<string>Ponyta</string>
	<string>Rapidash</string>
	<string>Slowpoke</string>
	<string>Slowbro</string>
	<string>Magnemite</string>
	<string>Magneton</string>
	<string>Farfetch'd</string>
	<string>Doduo</string>
	<string>Dodrio</string>
	<string>Seel</string>
	<string>Dewgong</string>
	<string>Grimer</string>
	<string>Muk</string>
	<string>Shellder</string>
	<string>Cloyster</string>
	<string>Gastly</string>
	<string>Haunter</string>
	<string>Gengar</string>
	<string>Onix</string>
	<string>Drowzee</string>
	<string>Hypno</string>
	<string>Krabby</string>
	<string>Kingler</string>
	<string>Voltorb</string>
	<string>Electrode</string>
	<string>Exeggcute</string>
	<string>Exeggutor</string>
	<string>Cubone</string>
	<string>Marowak</string>
	<string>Hitmonlee</string>
	<string>Hitmonchan</string>
	<string>Lickitung</string>
	<string>Koffing</string>
	<string>Weezing</string>
	<string>Rhyhorn</string>
	<string>Rhydon</string>
	<string>Chansey</string>
	<string>Tangela</string>
	<string>Kangaskhan</string>
	<string>Horsea</string>
	<string>Seadra</string>
	<string>Goldeen</string>
	<string>Seaking</string>
	<string>Staryu</string>
	<string>Starmie</string>
	<string>Mr. Mime</string>
	<string>Scyther</string>
	<string>Jynx</string>
	<string>Electabuzz</string>
	<string>Magmar</string>
	<string>Pinsir</string>
	<string>Tauros</string>
	<string>Magikarp</string>
	<string>Gyarados</string>
	<string>Lapras</string>
	<string>Ditto</string>
	<string>Eevee</string>
	<string>Vaporeon</string>
	<string>Jolteon</string>
	<string>Flareon</string>
	<string>Porygon</string>
	<string>Omanyte</string>
	<string>Omastar</string>
	<string>Kabuto</string>
	<string>Kabutops</string>
	<string>Aerodactyl</string>
	<string>Snorlax</string>
	<string>Articuno</string>
	<string>Zapdos</string>
	<string>Moltres</string>
	<string>Dratini</string>
	<string>Dragonair</string>
	<string>Dragonite</string>
	<string>Mewtwo</string>
	<string>Mew</string>
</array>
</plist>
